header {
    display: flex;
    gap: 10rem;
    background-color: transparent;
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
}

#hero-description {
    position: relative;
}

#headerbg{

    background-color: #495e57;
}

.title{
    margin-top: 30px;
    color: white;
    padding: 20px;
}

.desc{
    color:white;
    padding: 20px;
}

.reservebutton{
    margin-bottom: 40px;
    padding: auto;
    margin-left: 20px;
}

.headerimg{
    height: 300px;
}
#hero-description button {
    position: absolute;
    bottom: -20px;
}

#hero-description>h4 {
    width: 285px;
    margin-top: 1rem;
}

@media screen and (max-width: 720px) {
    header>img {
        display: none;
    }

    #hero-description {
        height: 400px;
    }
}